.btn {
  border-radius: 2.5rem;
  color: $white;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 1.5rem 3rem;
  transform: 1s ease-out;
  box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.2);

  &:hover {
    opacity: 0.9;
  }

  &--primary {
    background-color: $secondary-color;
  }
}
