// Colors
$primary-color: #58c5e5;
$secondary-color: #fa60ad;

// Gradient colors
$gradient-color-top: #cf72b5;
$gradient-color-bottom: #313a7e;

// Section bg colors
$section-background-light: #fafcff;

// Font colors
$white: #fff;
$heading-dark: #404f66;
$body-color: #8194b3;

// UI colors
$light-gray: #f2f6fe;

// Font sizes
$default-font-size: 1.6rem;
